<div class="row">
	<div class="col-xs-12">
		<div class="input-group">
      		<input type="text" class="form-control" ng-model="selectedName" ng-dbl-click="goTo()" disabled required>
      		<span class="input-group-btn">
        		<button class="btn btn-default" type="button" ng-click="showModal()" ng-disabled="disable">
					<i class="fa fa-search"></i>
				</button>
			<!-- 	<button class="btn btn-default" type="button" ng-click="clean()" ng-if="selectedName" ng-disabled="disable">
					<i class="fa fa-times"></i>
				</button> -->
      		</span>
    	</div>
	</div>
</div>
