<div class="box no-margin-bottom">
  <div class="box-body no-lateral-padding" style="padding-bottom:0px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12"  style="margin-bottom: 10px">
          <div class="col-xs-12 col-md-3 " ng-if="filterDate">
           <!--  <label for="date">Desde:</label>
            <sc-datepicker ng-model="filterDateOptions.fromDate"></sc-datepicker> -->
            <div class="input-group">
              <span class="input-group-addon">Desde:</span>
              <input ng-model="filterDateOptions.fromDate"  type="date" class="form-control" ng-required="required"  style="z-index:2" />
            </div>
          </div>
          <div class="col-xs-12 col-md-3" ng-if="filterDate">
<!--             <label for="date">Hasta:</label>
            <sc-datepicker ng-model="filterDateOptions.toDate"></sc-datepicker> -->
             <div class="input-group">
              <span class="input-group-addon">Hasta:</span>
              <input ng-model="filterDateOptions.toDate"  type="date" class="form-control" ng-required="required"  style="z-index:2" />
            </div>
          </div>
          <div class="col-xs-12 col-md-1" ng-if="filterDate">
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="filterDateOptions.enabled">
              </label>
            </div>
          </div>
        <div style="padding: 15px;padding-top:0px;" class="input-group col-md-5">
          
          <input class="form-control" type="text" ng-keyup="$event.keyCode == 13 ? search() : null" ng-model="params.search" ng-model-options="{ debounce: 500}" placeholder="Qué quieres buscar?" />
          <span class="input-group-addon btn btn-default" ng-click="search()" tooltip="Search"><i class="fa fa-search"></i> Buscar</span>
          <span class="input-group-addon btn btn-default" ng-click="downloadExcel(params)" tooltip="Descargar Excel"><i class="fa fa fa-file-excel-o"></i></span>
        </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="input-group pull-right">
        </div>
      </div>
      <div class="col-xs-12 text-center" ng-if="!list.length">
        <br>
        <h4>
        <span ng-if="!loaded">
          <i class="fa fa-spinner fa-pulse"></i>
          Cargando
        </span>
        <span ng-if="loaded">
          No hay información que mostrar
        </span>
        </h4>
      </div>
    </div>
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <table id="example1" cellspacing="0" class="table table-bordered table-striped dataTable" style="border-bottom: 1px solid #dddddd; " ng-if="list.length">
        <thead>
          <tr style="background-color: #1560bd">
            <th ng-if="show" class="col-xs-1" ng-click="filter('_id')">#</th>
            <th ng-style="field.sortable ? { 'cursor': 'pointer' } : {}" ng-repeat="field in fields" ng-click="field.sortable ? filter(field.name) : null" ng-class="field.class">
              <span ng-bind-html="field.title"></span>
              <i ng-if="field.sortable" class="fa pull-right fa-lg" ng-style="{ 'opacity' : (field.name == orderBy.field) ? '1' : '0.2' }" ng-class="{'fa-long-arrow-up':!orderBy.reverse, 'fa-long-arrow-down':orderBy.reverse}"></i>
            </th>
          </tr>
          <tr font-color="black" hidden >
            <th ng-if="show" class="col-xs-1" ng-click="filter('_id')">#</th>
            <td ng-repeat="field in fields"  ng-class="field.class" vertical-alig="bottom">
               <!-- Campos Normales -->
              <input class="form-control" ng-if="!field.config && field.type !='date' && field.decimalsOnly!= 'decimals-only' && field.type !='object' && field.type !='currency' && field.type != 'checkbox'"
              ng-change="search()" ng-keyup="$event.keyCode == 13 ? search() : null" ng-model="params.fieldFilter[field.name]"  ng-model-options="{ debounce: 500}"></input>
              <!-- Campos Monetarios -->
              <input class="form-control" placeholder="Desde" class="ta_right" ng-if="field.type ==='currency'" ng-change="search()" ng-keyup="$event.keyCode == 13 ? applyFilters() : null" ng-model="params.fieldFilter[field.name]" ng-model-options="{ debounce: 500}" ></input>
              <input class="form-control" placeholder="Hasta" class="ta_right" ng-if="field.type ==='currency'" ng-change="search()" ng-keyup="$event.keyCode == 13 ? applyFilters() : null" ng-model="params.fieldFilter[field.name]" ng-model-options="{ debounce: 500}" ></input>
              <!-- Campos Fecha -->
              <input class="form-control" placeholder="Desde" ng-if="field.type=='date'" ng-change="search()" ng-keyup="$event.keyCode == 13 ? search() : null" ng-model="params.fieldFilter[field.name]" ng-model-options="{ debounce: 500}"></input>  
              <input class="form-control" placeholder="Hasta" ng-if="field.type=='date'" ng-change="search()" ng-keyup="$event.keyCode == 13 ? search() : null" ng-model="params.fieldFilter[field.name]" ng-model-options="{ debounce: 500}"></input>    
            </td>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" ng-repeat="elem in list" ng-dblclick="dblClick(elem, $event)">
            <!-- Codigo del Elemento -->
            <td ng-if="show">{{elem._id}}</td>
            <!-- Campos a Repetir -->
            <td ng-repeat="field in fields">
              <!-- Campos Normales -->
              <span ng-if="!field.config && field.type !='date' && field.decimalsOnly!= 'decimals-only' && field.type !='object' && field.type !='currency' && field.type != 'checkbox'">{{inception(elem, field.name) | limitTo: field.limit}}{{(inception(elem, field.name).length > field.limit) ? '...' : ''}}</span>
              <!-- Campos Monetarios -->
              <span class="ta_right" ng-if="field.type ==='currency'">{{elem['currency'].code}} {{inception(elem, field.name) | limitTo: field.limit | currency:"$":2}}{{(inception(elem, field.name).length > field.limit) ? '...' : ''}}</span>
              <!-- Campos Numericos -->
              <span ng-if="!field.config && field.type !='date' && field.decimalsOnly == 'decimals-only' && !matching(inception(elem, field.name)) && field.type !='object'">{{inception(elem, field.name) | limitTo: field.limit}}{{(inception(elem, field.name).length > field.limit) ? '...' : ''}}</span>
              <!-- Campos Fecha -->
              <span ng-if="field.type=='date'">{{inception(elem, field.name) | date:'MMM/dd/yyyy'}}</span>
              <!-- Campos Objetos (Vienen de la BD) -->
              <span ng-if="field.type=='object'">{{resolve(field.routeInDb, elem, field.function, field.def) | limitTo: field.limit}}{{(resolve(field.routeInDb, elem, field.function, field.def).length > field.limit) ? '...' : ''}}</span>
              <!-- Campos Select (Solo viene el ID) -->
              <span ng-if="field.type=='select'">
                {{
                  getFieldLabel(elem[field.name],field.options) | limitTo: field.limit
                }}
                {{
                  ( getFieldLabel(elem[field.name],field.options).length > field.limit ) ? '...' : ''
                }}
              </span>            
              <!-- Campos CheckBox -->
              <span ng-if="field.type=='checkbox'">
                <input ng-checked="inception(elem, field.name)" type="checkbox" ng-disabled="true">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p class="help-block" >Mostrando {{currentPage*params.limit - params.limit + 1}}-{{currentPage*params.limit}} de {{count}} registros</p>

    </div>
    <div class="col-sm-2">
      <div class="input-group">
        <span class="input-group-addon">Mostrar</span> 
        <select class="form-control" ng-model="params.limit" ng-change="search()" ng-options="limitOption as limitOption for limitOption in limitOptionList track by limitOption">
        </select>
        
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
      <div class="">
          <div style="margin: 0 auto; margin-bottom: 10px">
            <div class="btn-group">
              <button type="button" class="btn btn-default disabled" ng-class="prevPageDisabled()" ng-click="firstPage()" style="cursor:pointer">        
              Inicio
              </button>
              
              <button type="button" class="btn btn-default disabled" ng-class="prevPageDisabled()" ng-click="prevPage()" style="cursor:pointer">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              </button>
              
              <button type="button" class="btn btn-default ng-binding" disabled="" style="cursor:pointer">{{currentPage}} de {{maxPage}}</button>
            
              <button type="button" class="btn btn-default" ng-class="nextPageDisabled()" ng-click="nextPage()" style="cursor:pointer">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
              
              <button type="button" class="btn btn-default" ng-class="nextPageDisabled()" ng-click="finPage()" style="cursor:pointer">        
              Fin
              </button>
            </div>  
            
          </div>
      </div>
    </div>
  </div>
</div>