<div class="row">
	<div class="col-xs-12 col-md-6">
		<div class="form-group">
			<label for="phoneType" ng-if="!hideLabels">Tipo</label>
			<select class="form-control" ng-model="ngModel.phoneType" id="phoneType" ng-options="phoneType as phoneType.description for phoneType in phoneTypes track by phoneType._id"></select>
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="form-group">
			<label for="number" ng-if="!hideLabels">Número</label>
			<input type="text" class="form-control" id="number" ng-model="ngModel.number" />
		</div>
	</div>
</div>
