<div class="modal-header modal-header-color dialog-header-confirm">
  <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">
		Asignar Compañías:
  </h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Compañía
						</th>
						<th>
							<button type="button" class="btn btn-sm" ng-click="add()">
								<i class="fa fa-plus"></i>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="company in companies track by $index">
						<td>
							<select class="form-control" ng-model="company._id" ng-options="o._id as o.entity.name for o in companyList" />
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger" ng-click="remove($index)">
								<i class="fa fa-times"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="send()">Asignar</button>
  <button class="btn btn-default" type="button" ng-click="close()">Cerrar</button>
</div>