<div class="modal-header modal-header-color dialog-header-confirm">
  <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">
		Comentarios:
  </h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<h3 ng-bind-html="comment || 'There are no comments to show'"></h3>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="close()">Cerrar</button>
</div>