<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<span> Compañía</span>
		</h1>
		<hr>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="companyForm" class="btn btn-primary update" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Guardar</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="companyForm" name="companyForm" novalidate>
		<div class="col-xs-12">
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" class="form-control" ng-model="company.entity.name" id="name" placeholder="Nombre">
			</div>
		</div>
		
	</form>
</div>
