<div class="row">
    <div class="col-xs-12">
        <h1 class="pull-left">
             <span> Listado de Compañías</span>
        </h1>
        <hr>
        <div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
            <button type="button" class="btn btn-primary new" ng-click="createNew()"><i class="fa fa-plus"></i>&nbsp;<span>Crear</span></button>
        </div>
        <hr />
    </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<list clase="wsCompanies" fields="fields" showid="false" search-fields="search" list="list"></list>
	</div>
</div>
