<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			Reporte de Facturas
		</h1>
		<div class="pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<back-button></back-button>
			<button type="submit" class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i> Buscar</button>
			<button type="button" class="btn btn-primary" ng-click="export()"><i class="fa fa-file-excel-o"></i> Excel</button>
		</div>
		<hr />
	</div>
</div>
<ul class="nav nav-pills">
	<li role="presentation" ng-class="{ active: getActiveTab('countByClient') }" ng-click="selectTab('countByClient')" ng-if="userData.role._id == 1"><a>Cantidad por Cliente</a></li>
	<li role="presentation" ng-class="{ active: getActiveTab('totalPriceByClient') }" ng-click="selectTab('totalPriceByClient')"
	 ng-if="userData.role._id == 1"><a>Monto por Cliente</a></li>
	<li role="presentation" ng-class="{ active: getActiveTab('data') }" ng-click="selectTab('data')"><a>Listado de Facturas</a></li>
	<!-- <li role="presentation" ng-class="{ active: getActiveTab('items') }" ng-click="selectTab('items')"><a>Detalle de Facturas</a></li> -->
</ul>
<div class="row">
	<div class="col-xs-12">
		<!-- <div class="panel panel-primary"> -->
			<div class="panel panel-default" is-open="filter.isOpen">
				
				<div class="panel-body">
					<form class="form" id="reportForm" name="reportForm" >
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-2">
									<div class="form-group">
										<label for="fromDate">Desde:</label>
										<sc-datepicker ng-model="filter.fromDate"></sc-datepicker>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<label for="fromDate">Hasta:</label>
										<sc-datepicker ng-model="filter.toDate"></sc-datepicker>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<label for="status">Compañía:</label>
										<select class="form-control" ng-model="filter.company" ng-options="o as o.entity.name for o in companyList track by o._id"></select>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<label for="client">Proyecto:</label>
										<select class="form-control" ng-model="filter.branch" ng-options="o as o.name for o in branchList track by o._id" ></select>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<label for="client">Cliente:</label>
										<select class="form-control" ng-model="filter.client" ng-options="o as o.name for o in clientList track by o._id"></select>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<label for="status">Estatus:</label>
										<select class="form-control" ng-model="filter.status" ng-options="o as o.description for o in statusList track by o._id"></select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
							</div>
						</div>
					</form>
					
				</div>
			</div>
		<!-- </div> -->
	</div>

</div>

<div class="row" ng-if="getActiveTab('data')">
	<div class="col-xs-12">
		<table cellspacing="0" class="table table-hover table-bordered table-condensed" style="border-bottom: 1px solid #dddddd;">
			<thead>
				<tr style="background-color: #1560bd; color: white">
					<th style="width:10%" ng-click="sortBy('date')">
						Fecha 
					</th>
					<th style="width:10%" ng-click="sortBy('dueDate')">
						Fecha Vencimiento 
					</th>
					<th style="width:10%" ng-click="sortBy('code')">
						Factura # 
					</th>
					<th style="width:15%" ng-click="sortBy('ncf')">
						NCF 
					</th>
					<th style="width:15%" ng-click="sortBy('client.name')">
						Cliente 
					</th>
					<th style="width:10%" ng-click="sortBy('status.description')">
						Estatus 
					</th>
				
					<th style="width:10%">
						Total
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoice in invoices track by $index" ng-dblclick="invoice.goTo()">
					<td>
						{{invoice.date|date:'MM/dd/yyyy'}}
					</td>
					<td>
						{{invoice.dueDate|date:'MM/dd/yyyy'}}
					</td>
					<td>
						{{invoice.code}}
					</td>
					<td>
						{{invoice.ncf}}
					</td>
					<td>
						{{invoice.client.name}}
					</td>
					<td>
						{{invoice.status.description}}
					</td>
					<td>
						{{invoice.getTotal()|currency}}
					</td>
				</tr>
				<tr>
					<td colspan="6" class="text-right">
						<b>Total</b>
					</td>
					<td>
						<b>{{getTotal()|currency}}</b>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" ng-if="getActiveTab('items')">
	<div class="col-xs-12">
		<table cellspacing="0" class="table table-hover table-bordered table-condensed" style="border-bottom: 1px solid #dddddd;">
			<thead>
				<tr style="background-color: #1560bd; color: white">
					<th style="width:10%">
						Fecha
					</th>
					<th style="width:10%">
						Factura #
					</th>
					<th style="width:10%">
						Codigo
					</th>
					<th style="width:20%">
						Descripcion
					</th>
					<th style="width:20%">
						Tipo
					</th>
					<th style="width:10%">
						Cantidad
					</th>
					<th style="width:20%">
						Precio
					</th>
					<th style="width:20%">
						Total
					</th>

				</tr>
			</thead>
			<tbody ng-repeat="invoice in invoices track by $index">
				
				<tr ng-repeat="item in invoice.items track by $index">
					<td>{{invoice.date|date:'MM/dd/yyyy'}}</td>
					<td>{{invoice.invoiceNumber}}</td>
					<td>{{item.code}}</td>
					<td>{{item.description}}</td>
					<td>{{item.itemType.description}}</td>
					<td>{{item.quantity}}</td>
					<td>{{item.price | currency}}</td>
					<td>{{item.price * item.quantity | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" ng-if="!getActiveTab('data') && !getActiveTab('items')">
	<div id="chart_container" style="width:100%; height:400px;"></div>
</div>