<form class="form" id="itemForm" name="itemForm" >
	<div class="row">
		<div class="col-xs-9 fixed-top">
			<h1 class="pull-left">
				 <span>Productos</span>
			</h1>
			<hr>
			<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
				<back-button></back-button>
				<button type="button" form="itemForm" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Guardar</span></button>
			</div>
			<hr/>
		</div>
	</div>
	<div class="row fixed-content">
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12">
				<div class="col-xs-12 pull-right">
					<div class="form-group">
						<label for="date">Código</label>
						<input class="form-control" type="number" ng-model="item.code" />
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 pull-right">
					<div class="form-group">
						<label for="date">Descripción</label>
						<input class="form-control" type="text" ng-model="item.description" />
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 pull-right">
					<div class="form-group">
						<label for="itemType">Categoría</label>
						<select class="form-control" ng-model="item.itemType" ng-options="type as type.description for type in itemTypes track by type._id"></select>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 pull-right">
					<div class="form-group">
						<label for="date">Unidad de Medida</label>
						<input class="form-control" type="text" ng-model="item.unitOfMeasure" />
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 pull-right">
					<div class="form-group">
						<label for="date">Precio</label>
						<input class="form-control" type="number" ng-model="item.price" step="0.01"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>