<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
				<span> Opciones</span>
		</h1>
		<hr>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="..." ng-if="userData.role._id == 1">
			<button type="button" class="btn btn-primary new" ng-click="createNew()"><i class="fa fa-plus"></i>&nbsp;<span>Crear</span></button>
		</div>
		<hr />
	</div>
</div>
<div class="row">
  <div>
    <list clase="wsOption" fields="fields" showid="false" search-fields="search" list="list"></list>
  </div>
</div>