<div >
	<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			 <span> Nota de Crédito (Suplidor) </span>
		</h1>
		<hr>
		<div class="pull-right hidden-print" style="margin-top: 20px;" role="group" aria-label="...">
			
			<back-button></back-button>
			<button type="button" class="btn btn-default noBorder" ng-click="export()" ng-if="payment._id">
				<i class="fa fa-download"></i><span></span>
			</button>
			<button type="submit" form="userForm" class="btn btn-primary update" ng-click="saveCompany()">
				<i class="fa fa-save"></i><span></span>
			</button>
			
		</div>
		<hr />
	</div>
</div>
<form class="form" id="userForm" name="userForm" novalidate>
	<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<h3><label>Documento # </label> <span class="label label-primary">{{payment.code}}</span></h3>
					
				</div>
			</div>
			<div class="col-sm-6 ">
				<div class="form-group pull-right">
					<label for="date">Fecha Creacion: <label>
					{{payment.date | date:'dd/MM/yyyy'}}
				</div>
			</div>
	</div>
	<div class="row" style="margin-top:50px">
		<div class="col-xs-12">
			<div class="col-sm-3">
				<div class="col-xs-12">
						<div class="form-group">
							<label for="date">Compañía</label>
							<select class="form-control" ng-model="payment.company" ng-class="isChanged('company')" ng-change="changed('company'); companyChanged(payment.client.company)" ng-options="company as company.entity.name for company in listCompany track by company._id" ng-disabled="isDisabled() || userData.role._id != 1 || !payment.client._id || companyData" ></select>
						</div>
				</div>
				<div class="col-xs-12">
						<div class="form-group">
							<label for="date">Proyecto</label>
							<select class="form-control" ng-model="payment.branch" ng-class="isChanged('branch')" ng-change="changed('branch'); branchChanged(payment.branch)" ng-options="branch as branch.name for branch in listBranches track by branch._id" ng-disabled="isDisabled() || userData.role._id != 1 || !payment.client._id || branchData" ></select>
						</div>
				</div>
			</div>
			<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="Client">Factura</label>
							<entitypicker ng-model="payment.invoice" ng-change="clientChanged(payment.invoice)" ws-class="wsClass" ws-fields="wsFields" ws-filter="filterC" ws-label="'invoiceNumber'" disable="userData.role._id != 1"></entitypicker>
						</div>
					</div>
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Fecha</label>
							<sc-datepicker ng-model="payment.date" ng-class="isChanged('date')" ng-change="changed('date')" ng-disabled="isDisabled()"></sc-datepicker>
						</div>
					</div>
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Tipo Nota de Crédito</label>
							<select class="form-control" ng-model="payment.creditNoteType" ng-class="isChanged('creditNoteType')" ng-change="changed('debitNoteType');" ng-options="creditNoteType as creditNoteType.description for creditNoteType in creditNoteTypeList track by creditNoteType.code" ></select>
						</div>
					</div>
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="ncf">NCF</label>
							<input type="text" class="form-control" ng-model="payment.ncf" ng-class="isChanged('ncf')" ng-change="changed('ncf')" ng-disabled="isDisabled()">
						</div>
					</div>
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Monto</label>
							<input type="currency" name="amount" class="form-control" ng-model="payment.amount">
						</div>
					</div>
					
			</div>
			<div class="col-sm-12">
				<div class="col-xs-12">
							<div class="form-group">
								<label for="comment">Comentarios</label>
								<textarea id="comment" ng-model="payment.comment" class="form-control">
								</textarea> 
							</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row hidden-print" >
		<div class="col-xs-12">
			
			<div class="col-xs-12" style="padding: 10px;">
					<div class="btn btn-default" ngf-select="uploadFiles($files)" ngf-max-size="5MB" ngf-accept="'image/*'" multiple="multiple"><i class="fa fa-paperclip"></i> Adjuntar Nota de Crédito</div>
				</div>
				<div class="col-sm-2" ng-repeat="photo in payment.photos track by $index" ">
					<img class="img-rounded" style="width:120px" ng-src="{{photo.url}}" ng-click="showPicture($index)" style="position: absolute;" />
					<!-- <button type="button" ng-click="removePhoto($index)" class="btn btn-sm btn-danger"> -->
						<i class="fa fa-times" ng-click="removePhoto($index)" style="position: relative; "></i>
					<!-- </button> -->
				</div>
		</div>
	</div>
</form>

	
</div>

